* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  object-fit: contain;
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

.app__headerImage {
  object-fit: contain;
}

.app__uploadIcon {
  width: 25px;
  object-fit: contain;
}

.app__signUpForm {
  display: flex;
  flex-direction: column;
}

.app__postsContainer {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}